<<<<<<< HEAD
<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
  <tr>
    <td>リーダブルコード</td>
    <td>より良いコードを書くためのシンプルで実装的なテクニック</td>
  </tr>

  <tr>
    <td>トラブルしらずのシステム設計</td>
    <td>システム設計の要点を図解で説明してくれます</td>
  </tr>

  <tr>
    <td>たのしいRuby</td>
    <td>Rubyの入門におすすめです</td>
  </tr>

  <tr>
    <td>入門Git</td>
    <td>gitについての基本操作から内部構造まで解説してくれます</td>
  </tr>

  <tr>
    <td>アルゴリズム図鑑</td>
    <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
  </tr>

  <tr>
    <td>達人プログラマー</td>
    <td>プログラマ入門者は必読！</td>
  </tr>

  <tr>
    <td>データベース実践入門</td>
    <td>効率的なSQL文を教えてくれます</td>
  </tr>

</tbody>

<h2>New Book</h2>
=======
<body>
  <div class="body">
    <h1>Books</h1>

    <div class="table">
       <table>
        <div class="thead">
        <thead>
          <tr>
            <div class="th">
            <th>Title</th>
            </div>
            <div class="th">
            <th>Body</th>
            </div>
            <th colspan="3"></th>
          </tr>
        </thead>
        </div>

        <div class="tbody">
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><div class="td"><%= book.title %></div></td>
                <td><div class="td"><%= book.body %></div></td>
                <td><%= link_to 'Show', book_path(book.id) %>
                </td>
                <td><%= link_to 'Edit', edit_book_path(book.id) %>
                <td/>
                <td><%= link_to 'Destroy', destroy_book_path(book.id), method: :delete,  "data-confirm" => "Are you sure？" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </div>

      </table>
    </div>



  <div class="newbooks">
    <div class="alert">
    <% if @book.errors.any? %>
    <%= @book.errors.count %> errors prohibited this book from being saved:
    <% @book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
    <% end %>
    </div>
    <h2>New Books</h2>
    <%= form_with model:@book, local:true do |f| %>

      <div class="field">
        <label for="book_title">Title</label>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <label for="book_body">Body</label>
        <%= f.text_area :body %>
      </div>

      <div class="action"><%= f.submit 'Create Book' %></div>

    <% end %>
  </div>
 </div>
</body>

>>>>>>> bookers_3
